# yarn
yarn-debug.log*
yarn-error.log*
yarn.lock

# dependencies
/node_modules
/.pnp
.pnp.js

# npm
npm-debug.log*
.npmrc

# testing
/coverage
# front end generic 
*target*
*node_modules*
package-lock.json
dist/

# VSCode
.vs/
.vscode/
.chrome/
.history/

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
